<p-toast key="tst"></p-toast>
<p-confirmDialog header="Xác nhận" icon="pi pi-exclamation-triangle" acceptButtonStyleClass="ui-button-info"
    acceptLabel="Đồng ý" rejectLabel="Hủy bỏ">
</p-confirmDialog>
<div class="p-grid">
    <div class="p-col-12">
        
        <div class="card">
            <div class="p-grid">
                <div class="p-md-4 p-sm-4 p-d-flex p-jc-start">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Lọc..." />
                    </span>
                </div>
                <div class="p-md-8 p-sm-8 p-d-flex p-jc-end">
                    <div class="p-mb-2 p-mr-2">
                            <p-calendar dateFormat="dd/mm/yy" dataType="string" [showIcon]="true"
                            placeholder="Ngày bắt đầu" [selectOtherMonths]="true" [(ngModel)]="FROM_DATE"
                            firstDayOfWeek=1 inputStyleClass="calendarInput">
                            </p-calendar>
                    </div>
                    <div class="p-mb-2 p-mr-2">
                        <p-calendar dateFormat="dd/mm/yy" dataType="string" [showIcon]="true"
                            placeholder="Ngày kết thúc" [selectOtherMonths]="true" [(ngModel)]="TO_DATE"
                            firstDayOfWeek=1 inputStyleClass="calendarInput">
                        </p-calendar>
                    </div>
                    <div class="p-mb-2 p-mr-2">
                        <button pButton pRipple (click)="search()" icon="pi pi-search"
                            class="p-button-success p-mt-1"></button>
        
                    </div>
                    <div class="p-mb-2 p-mr-2">
                        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mt-1"
                            (click)="exportExcel()"></button>
                    </div>
                </div>
            </div>
            <p-table #dt [value]="lstMain" dataKey="STT" [rowHover]="true" [rows]="10" [paginator]="true"
            [loading]="loading"
                [filterDelay]="0"
                [globalFilterFields]="['TIMESTAMP','MILLI_SECONDS','b1','b2','b3','elemnet','DESCRIPTION','STATUS','TAG','OPERATOR','NGUYENNHAN']"
                currentPageReportTemplate="Hiển thị từ {first} đến {last} trên {totalRecords}" [responsive]="true"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-grid">
                        <div class="p-md-4 p-sm-4 p-d-flex p-jc-start">
                            
                        </div>
                        <div class="p-md-8 p-sm-8 p-d-flex p-jc-end">
                            
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="trHeader">
                        <th pSortableColumn="TIMESTAMP"  class="p-col-1">Time stamp
                            <p-sortIcon field="TIMESTAMP"></p-sortIcon>
                        </th>
                        <th pSortableColumn="MILLI_SECONDS"  class="p-col-1">Milli Second
                            <p-sortIcon field="MILLI_SECONDS"></p-sortIcon>
                        </th>
                        <th pSortableColumn="b1"  class="p-col-1">B1
                            <p-sortIcon field="b1"></p-sortIcon>
                        </th>
                        <th pSortableColumn="b2"  class="p-col-1">B2
                            <p-sortIcon field="b2"></p-sortIcon>
                        </th>
                        <th pSortableColumn="b3"  class="p-col-1">B3
                            <p-sortIcon field="b3"></p-sortIcon>
                        </th>
                        <th pSortableColumn="ELEMENT"  class="p-col-1">Element
                            <p-sortIcon field="ELEMENT"></p-sortIcon>
                        </th>
                        <th pSortableColumn="DESCRIPTION"  class="p-col-1">Description
                            <p-sortIcon field="DESCRIPTION"></p-sortIcon>
                        </th>
                        <th pSortableColumn="STATUS"  class="p-col-1">Status
                            <p-sortIcon field="STATUS"></p-sortIcon>
                        </th>
                        <th pSortableColumn="TAG"  class="p-col-1">Tag
                            <p-sortIcon field="TAG"></p-sortIcon>
                        </th>
                        <th pSortableColumn="OPERATOR"  class="p-col-1">Operator
                            <p-sortIcon field="OPERATOR"></p-sortIcon>
                        </th>
                        <th pSortableColumn="NGUYENNHAN"  class="p-col-1">Nguyên nhân thao tác không thành công
                            <p-sortIcon field="NGUYENNHAN"></p-sortIcon>
                        </th>
                        <th class="p-col-1">Cập nhật Nguyên Nhân
                        </th>
                    </tr>
                   
                </ng-template>
                <ng-template pTemplate="body" let-main>
                    <tr class="p-selectable-row">
                        <td class="bodySTT">
                            <span class="p-column-title">Timestamp</span>
                            {{main.TIMESTAMP| date: 'dd/MM/yyyy HH:mm'}}
                        </td>
                        <td style=" text-align: right">
                            <span class="p-column-title">Milli Second</span>
                            {{main.MILLI_SECONDS}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Trạm biến áp (B1)</span>
                            {{main.B1}}
                        </td>
                        <td style=" text-align: right">
                            <span class="p-column-title">Cấp điện áp (B2)</span>
                            {{main.B2}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Tên đường dây (B3)</span>
                            {{main.B3}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Element</span>
                            {{main.ELEMENT}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Description</span>
                            {{main.DESCRIPTION}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Status</span>
                            {{main.STATUS}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Tag</span>
                            {{main.TAG}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Operator</span>
                            {{main.OPERATOR}}
                        </td>
                        <td style=" text-align: left">
                            <span class="p-column-title">Nguyên Nhân</span>
                            {{main.NGUYENNHAN}}
                        </td>
                        <td>
                            <button style="z-index: 1000;" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editItem(main)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="12" style="text-align: center;">Không có dữ liệu</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-dialog [(visible)]="editDialog" 
        [style]="{width: '450px'}" 
        (onHide)="hideDialog()" 
        header='Cập Nhật Nguyên Nhân Thao Tác Không Thành Công'
            [modal]="true" styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="TIMESTAMP">Timestamp</label>
                    <input type="text" pInputText id="TIMESTAMP" [(ngModel)]="mainCurrent.TIMESTAMP" required disabled />
                </div>
                <div class="p-field">
                    <label for="name">B1</label>
                    <input type="text" pInputText id="b1" [(ngModel)]="mainCurrent.B1" required disabled />
                </div>
                <div class="p-field">
                    <label for="name">B2</label>
                    <input type="text" pInputText id="b2" [(ngModel)]="mainCurrent.B2" required disabled />
                </div>
                <div class="p-field">
                    <label for="name">B3</label>
                    <input type="text" pInputText id="b3" [(ngModel)]="mainCurrent.B3" required disabled />
                </div>
                <div class="p-field">
                    <label for="name">Nguyên Nhân</label>
                    <input type="text" pInputText id="b3" [(ngModel)]="mainCurrent.NGUYENNHAN" required
                        autofocus />

                    <small class="p-invalid" *ngIf="submitted && !mainCurrent.NGUYENNHAN">Tên phát tuyến bắt buộc
                        nhập</small>
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-info"
                    (click)="saveItem()"></button>
            </ng-template>
        </p-dialog>
</div>