<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <!-- <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                        (click)="openNew()"></button>
                        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
                        (click)="exportExcel()"></button>
                        
                        <p-fileUpload  #fileInput mode="basic" chooseLabel="Import"
                            cancelLabel="Hủy" uploadLabel="Tải lên" name="FILE_NAME[]" accept=".xlsx,.xls"
                            maxFileSize="1000000" (onUpload)="uploadFileDaChon()" (onBeforeUpload)="uploadFileDaChon()">
                        </p-fileUpload> -->
                        <div class="p-mr-2 p-mb-2">
                            <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openNew()"></button>
                        </div>
                        <div class="p-mr-2 p-mb-2">
                            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2"
                                (click)="exportExcel()"></button>
                        </div>
                        <div class="p-mr-2 p-mb-2" style="padding-bottom:5pt;padding-left: 2pt;">
                            <p-fileUpload  #fileInput mode="basic" chooseLabel="Import"
                                cancelLabel="Hủy" uploadLabel="Tải lên" name="FILE_NAME[]" accept=".xlsx,.xls"
                                maxFileSize="1000000" (onUpload)="uploadFileDaChon()" (onBeforeUpload)="uploadFileDaChon()">
                            </p-fileUpload>
                        </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <!-- <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help p-mb-2" (click)="exportExcel()"></button> -->
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Lọc..." />
                    </span>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="tbaSPCs" [columns]="cols" [rows]="20" [loading]="loading" [paginator]="true"
                [globalFilterFields]="['id','TEN_TINH','TEN_TRAM','TEN_B1','TEN_PHATTUYEN']" [rowHover]="true"
                dataKey="id" styleClass="p-datatable-customers"
                currentPageReportTemplate="Hiển thị từ {first} đến {last} trên {totalRecords}"
                [showCurrentPageReport]="true"               
                >
                <!-- <ng-template pTemplate="caption">
                    <div class="p-grid">
                    <div class="p-md-4 p-sm-4 p-d-flex p-jc-start">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Lọc..." />
                        </span>
                    </div>
                    <div class="p-md-4 p-sm-4 p-d-flex p-jc-start"></div>
                    <div class="p-md-4 p-sm-4 p-d-flex p-jc-end">
                      <button pButton pRipple label="Thêm" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                            (click)="openNew()"></button> 
                    </div>
                    </div>
                    
                </ng-template> -->
                <ng-template pTemplate="header">
                    <tr>                        
                        <th pSortableColumn="MA_TRAM">Mã Trạm <p-sortIcon field="MA_TRAM"></p-sortIcon>
                        </th>
                        <th pSortableColumn="TEN_TINH">Tên Tỉnh <p-sortIcon field="TEN_TINH"></p-sortIcon>
                        </th>
                        <th pSortableColumn="TEN_TRAM">Tên Trạm <p-sortIcon field="TEN_TRAM"></p-sortIcon>
                        </th>
                        <th pSortableColumn="TEN_B1">Tên Trạm Không Dấu<p-sortIcon field="TEN_B1"></p-sortIcon>
                        </th>
                        <th pSortableColumn="TEN_PHATTUYEN">Tên Phát Tuyến <p-sortIcon field="TEN_PHATTUYEN">
                            </p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tbaSPC>
                    <tr>
                        
                        <td  style=" text-align: left"><span class="p-column-title"></span>
                            {{tbaSPC.MA_TRAM}}
                        </td>
                        <td  style=" text-align: left"><span class="p-column-title"></span>
                            {{tbaSPC.TEN_TINH}}
                        </td>
                        <td  style=" text-align: left"><span class="p-column-title"></span>
                            {{tbaSPC.TEN_TRAM}}
                        </td>
                        <td  style=" text-align: left"><span class="p-column-title"></span>
                            {{tbaSPC.TEN_B1}}
                        </td>
                        <td  style=" text-align: left"><span class="p-column-title"></span>
                            {{tbaSPC.TEN_PHATTUYEN}}
                        </td>
                        <td class="bodySTT">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                                (click)="editItem(tbaSPC)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                (click)="deleteItem(tbaSPC)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        Tổng số lượng: {{tbaSPCs ? tbaSPCs.length : 0 }} trạm biến áp SPC.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="dialog" [style]="{width: '450px'}" (onHide)="hideDialog()" [header]="isUpdate?'Cập Nhật Trạm Biến Áp SPC':'Thêm Mới Trạm Biến Áp SPC'" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="p-field">
                    <label for="name">Tỉnh (*)</label>
                    <p-autoComplete [(ngModel)]="selectedTinh" [suggestions]="filterTinhs"
                        (completeMethod)="filterTinh($event)" field="TEN_TINH" [dropdown]="true">
                    </p-autoComplete>
                    <!-- <small class="p-invalid" *ngIf="submitted && !tbaSPC.TEN_TINH">Tên tỉnh bắt buộc nhập.</small> -->
                </div>
                <div class="p-field">
                    <label for="name">Mã Trạm (*)</label>
                    <input type="text" pInputText id="MA_TRAM" [(ngModel)]="tbaSPC.MA_TRAM" required autofocus [disabled]="isUpdate?true:false"/>
                    <small class="p-invalid" *ngIf="submitted && !tbaSPC.MA_TRAM">Bạn chưa nhập ! </small>
                </div>
                <div class="p-field">
                    <label for="name">Tên Trạm (*)</label>
                    <input type="text" pInputText id="TEN_TRAM" [(ngModel)]="tbaSPC.TEN_TRAM" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !tbaSPC.TEN_TRAM">Bạn chưa nhập ! </small>
                </div>
                <div class="p-field">
                    <label for="name">Tên B1 (*)</label>
                    <input type="text" pInputText id="TEN_B1" [(ngModel)]="tbaSPC.TEN_B1" required autofocus />
                    <small class="p-invalid" *ngIf="submitted && !tbaSPC.TEN_B1">Bạn chưa nhập Tên B1 !</small>
                </div>

                <div class="p-field">
                    <label for="name">Tên phát tuyến (*)</label>
                    <input type="text" pInputText id="TEN_PHATTUYEN" [(ngModel)]="tbaSPC.TEN_PHATTUYEN" required
                        autofocus />
                    <small class="p-invalid" *ngIf="submitted && !tbaSPC.TEN_PHATTUYEN">Bạn chưa nhập Tên phát tuyến
                        !</small>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Hủy" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Lưu" icon="pi pi-check" class="p-button-info"
                    (click)="saveItem()"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>